<div class="container">
    <div class="to-do-list">
        <!-- <app-to-do [todo]="todos[0]"></app-to-do>
        <app-to-do [todo]="todos[1]"></app-to-do> -->
        <!-- {{todos.length}} -->
        <input type="text" placeholder="todo title" [(ngModel)]="newTodoTitle">
        <input type="text" placeholder="todo description" [(ngModel)]="newTodoDescription">
        <button (click)="addTodo()">Add Todo</button>
        <app-to-do *ngFor="let todoFromArray of todos" [todo]="todoFromArray" (deleted)="onTodoDeleted($event)"></app-to-do>
        <!-- <div *ngFor="let number of numbersArr"> -->
            <!-- ეს სპანი ჩანდეს მხოლოდ მაშინ თუ რიცხვი ლუწია -->
            <!-- <span>{{number}}</span>
        </div> -->
        <!-- <button (click)="showEven = true; showAll = false;">Show Even</button>
        <button (click)="showEven = false; showAll = false;">Show Odd</button>
        <button (click)="showAll = true">Show All</button> -->
        <!-- <app-custom-input [disabledProp]="disabled"></app-custom-input>
        <button (click)="disabled = !disabled">toggle disabled</button> -->
    </div>
    <!-- <p>Parent Counter {{counter}}</p>
    <button (click)="counter = counter + 1">Parent Button</button>
    <app-counter [counterStartValue]="counter" (counterChanged)="counter = counter + 1" (counterEntered)="onCounterEntered($event)"></app-counter> -->
    <!-- <div *ngIf="showMessage">HELLO WORLD</div>
    <div [hidden]="!showMessage">HELLO WORLD</div>
    <button (click)="showMessage = !showMessage">Change showMessage</button> -->
</div>
<!-- <app-ng-model-test></app-ng-model-test> -->

<!-- // 1 button ჩავამატოთ todo კომპონენტში, როდესაც დავაწვებით todo-ს completed გახდეს true,
// ასევე გაიგზავნოს edit-ის რექვესთი და გადაიხაზოს title და description -->
<app-template-variables-test></app-template-variables-test>
<app-user-form-test></app-user-form-test>